* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: px black solid;
  font-size: 2rem;
  font-family: Roboto;
}

html {
  // 10px div by def of 16px
  font-size: 62.5%;
  max-width: 1400px;
  min-width: 320px;
}

h2 {
  font-size: 3rem;
}

body {
  position: relative;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.main {
  padding-top: $header-height;
}

.logo {
  font-family: Shrikhand;
}
