* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px black solid;
  font-size: 2rem;
  font-family: Roboto;
  z-index: auto;
}

html {
  // 10px div by def of 16px
  font-size: 62.5%;
  max-width: 1400px;
  min-width: 320px;
  margin: auto;
  @include tablet-only {
    font-size: 70%;
  }
  @include desktop-only {
    font-size: 55%;
  }
}
h2 {
  font-size: 3rem;
}

body {
  position: relative;
  box-sizing: border-box;
}

.main {
  z-index: 1;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.logo {
  font-family: Shrikhand;
}
