/* UTILS */
/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: px black solid;
  font-size: 2rem;
  font-family: Roboto;
}

html {
  font-size: 62.5%;
  max-width: 1400px;
  min-width: 320px;
}
@media screen and (min-width: 700px) {
  html {
    font-size: 70%;
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 55%;
  }
}

h2 {
  font-size: 3rem;
}

body {
  position: relative;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.main {
  padding-top: 8rem;
}
@media screen and (min-width: 1000px) {
  .main {
    padding-top: 12rem;
  }
}

.logo {
  font-family: Shrikhand;
}

/* COMPONENTS */
.btn {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  border: none;
  border-radius: 4rem;
  padding: 1.8rem 3rem 1.8rem 3rem;
  box-shadow: 0 0.5rem 1.5rem rgb(178, 178, 178);
  color: white;
  background: linear-gradient(#ff50cf 0%, #9356dc 60%);
}
.btn:hover {
  background: linear-gradient(#ff79da 0%, #9356dc 60%);
  box-shadow: 0 1rem 3rem #5a5a5a;
}

/* linear-gradient(darken($colour-secondary, 10%), $colour-primary 90%); */
/* LAYOUT */
.header {
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: flex-end;
  width: 100%;
  height: 8rem;
  box-shadow: 0 0.1rem 0.7rem rgb(169, 169, 169);
}
@media screen and (min-width: 1000px) {
  .header {
    height: 12rem;
    align-items: center;
  }
}
.header__logo {
  height: 3.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1000px) {
  .header__logo {
    margin: 0;
    height: 4rem;
  }
}

.footer {
  padding: 2rem 2rem 5rem 2rem;
  background-color: rgb(63, 63, 63);
  color: white;
}
@media screen and (min-width: 1000px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5rem 10rem 4rem 5rem;
  }
}
.footer * {
  color: white;
}
.footer__list {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  row-gap: 1rem;
}
@media screen and (min-width: 700px) {
  .footer__list {
    flex-direction: row;
    column-gap: 3rem;
  }
}
@media screen and (min-width: 1000px) {
  .footer__list {
    justify-content: space-between;
    margin-top: 0;
    margin-right: 5rem;
    column-gap: 3rem;
  }
}
.footer__links {
  font-size: 1.7rem;
  font-weight: 500;
}
@media screen and (min-width: 700px) {
  .footer__links {
    font-size: 1.5rem;
  }
}
.footer__icons {
  font-size: 1.5rem;
  margin-right: 0.8rem;
}
@media screen and (min-width: 700px) {
  .footer__icons {
    margin-right: 0.6rem;
    font-size: 1.4rem;
  }
}

/* PAGES */
/* BOOKING SECTION */
.booking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6rem;
  background-color: rgb(245, 245, 245);
}
.booking-form__heading {
  margin: 5rem 8% 0 8%;
  font-size: 3rem;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .booking-form__heading {
    font-size: 4.3rem;
    margin-bottom: 2rem;
  }
}
.booking-form__p {
  text-align: center;
  margin: 1.5rem 8% 3rem 8%;
  font-weight: 300;
}

.location {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(231, 231, 231);
  padding: 1.7rem 0 1.5rem 0;
}
.location__icon {
  font-size: 2rem;
  margin-right: 1.2rem;
}
.location__input {
  width: fit-contents;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  width: 15rem;
  color: black;
  font-weight: 500;
}
.location__input:focus {
  outline: none;
}
.location__input::placeholder {
  opacity: 1;
}

.explanations {
  padding: 5rem 2rem 4rem 2rem;
}
@media screen and (min-width: 700px) {
  .explanations {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
@media screen and (min-width: 1000px) {
  .explanations {
    padding-left: 9.5%;
    padding-right: 9.5%;
  }
}
.explanations__heading {
  margin-bottom: 2rem;
}
@media screen and (min-width: 1000px) {
  .explanations__steps-container {
    display: flex;
    justify-content: space-between;
  }
}

.explanation-step {
  display: flex;
  align-items: center;
  position: relative;
  height: 8rem;
  border-radius: 2rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
  padding-right: 2rem;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 0.7rem 2rem rgb(212, 212, 212);
}
.explanation-step--colored {
  background-color: #ffdff6;
}
@media screen and (min-width: 1000px) {
  .explanation-step {
    width: 30.5%;
  }
}
.explanation-step__number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  align-self: center;
  font-size: 1.5rem;
  color: white;
  background-color: #9356dc;
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 1.5rem;
  left: -1.4rem;
}
.explanation-step__icon {
  padding-left: 3.7rem;
  color: grey;
}
.explanation-step__icon--colored {
  color: #9356dc;
}
.explanation-step__text {
  padding-left: 3rem;
  font-size: 1.6rem;
  font-weight: 600;
}

/* RESTAURANTS SECTION */
.restaurants-section {
  position: relative;
  background-color: rgb(245, 245, 245);
  padding: 6rem 2.2rem 5.5rem 2.2rem;
}
@media screen and (min-width: 1000px) {
  .restaurants-section {
    padding-left: 9.5%;
    padding-right: 9.5%;
  }
}
.restaurants-section__heading {
  margin-bottom: 3rem;
}
.restaurants-section__grid {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
@media screen and (min-width: 700px) {
  .restaurants-section__grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1000px) {
  .restaurants-section__grid {
    row-gap: 4rem;
  }
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  border-radius: 2rem;
  background-color: white;
  box-shadow: 0 0.7rem 2rem rgb(212, 212, 212);
}
@media screen and (min-width: 700px) {
  .restaurant-card {
    width: 48%;
    aspect-ratio: 6.3/4;
  }
}
@media screen and (min-width: 1000px) {
  .restaurant-card {
    width: 48%;
  }
}
.restaurant-card__new {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border-radius: 0.3rem;
  padding: 0.7rem 1.3rem 0.7rem 1.3rem;
  background-color: #99e2d0;
  color: #278870;
  font-size: 1.6rem;
  font-weight: 600;
}
.restaurant-card__image {
  border-radius: 2rem 2rem 0 0;
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: 50% 60%;
}
.restaurant-card__image--bottom-position {
  object-position: bottom;
}
@media screen and (min-width: 700px) {
  .restaurant-card__image {
    height: auto;
    aspect-ratio: 4.5/2;
  }
}
.restaurant-card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 6% 1.2rem 4%;
}
.restaurant-card__heading {
  font-size: 1.8rem;
}
@media screen and (min-width: 1000px) {
  .restaurant-card__heading {
    font-size: 2.2rem;
  }
}
.restaurant-card__text {
  margin-top: 0.3rem;
  font-weight: 300;
  font-size: 1.7rem;
}
@media screen and (min-width: 1000px) {
  .restaurant-card__text {
    font-size: 1.9rem;
  }
}
.restaurant-card__favorite {
  color: rgb(196, 196, 196);
  padding-left: 0.1rem;
  font-size: 2.5rem;
}
.restaurant-card__favorite:hover {
  background: linear-gradient(#9356dc 0%, #ff79da 60%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*# sourceMappingURL=style.css.map */
