@mixin grey-background() {
  background-color: $colour-light-grey;
}

@mixin card-shadow() {
  box-shadow: 0 0.7rem 2rem rgb(212, 212, 212);
}

@mixin card-shadow--hover() {
  box-shadow: 0 0.1rem 2rem rgb(172, 172, 172);
}

@mixin tablet-only {
  @media screen and (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin desktop-only {
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}

@mixin menu-step-heading {
  font-size: 2rem;
  font-weight: 300;
}

@mixin ellipsis-when-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin padding-left-right($p) {
  padding-left: $p;
  padding-right: $p;
}
