$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$colour-light-grey: rgb(245, 245, 245);

$breakpoints: (
  tablet: 700px,
  desktop: 1000px,
);

$menu-step-duration: 1s;
$dish-duration: 0.7s;
$dish-delay: 0.1s;
$dishes-delay: $menu-step-duration * 0.8;
$animation-delay: ($menu-step-duration + $dish-duration + $dish-delay * 3);
